.login-content {
    height: 100vh;
}

form {
    width: 35rem;
}

.hide {
    display: none;
}

.table {
    background: black;
    color: white;
    border-spacing: 0;
}

.pr {
    font-size: 12px;
    color: red;
}

body, html {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

canvas {
    width: 100%;
}

.control {
    position: absolute;
}

.control input {
    border: 0;
    margin: 0;
    padding: 15px;
    outline: none;
    text-align: center;
}

.control button {
    border: 0;
    margin: 0;
    padding: 15px;
    outline: none;
    background: #333;
    color: #fff;
}

.control button:focus, .control button:hover {
    background: #222
}
.cavs{
    z-index:1;
    position: fixed;
    width:95%;
    margin-left: 20px;
    margin-right: 20px;
}
.backg{
    
    background: url(doig.jpg);
    background-size:100% 100%;
}